.inputBtn {
    box-sizing: border-box;
    padding: 12.5px 19px;
    border: 0;
    border-radius: 10px;
    width: 18.4rem;
    height: 2.8125rem;
    margin-top: 1.6875rem;
}

.inputBtn::placeholder {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    color: #ADB6BF;
}
.inputBtn:hover {
    border: 1px solid #0078EE;
}

.inputBtn:focus{
    outline: none;
    padding-bottom: 0;
}
.inputBtn:focus::placeholder {
    transform: translateY(-18px);
    font-size: 0.75rem;
}

.inputBtns{
    display: flex;
    flex-direction: column;
}